{% extends "blog/base.html" %}

<a href="{% url 'blog:perfil' %}">Mi Perfil</a>


{% block content_title %}
    <h2 class="text-center" style="color:#254229; font-weight:600;">
        Desde Vinland te damos la bienvenida, {{ user.username }}!    
    </h2>
{% endblock content_title %}

{% block content %}

<div class="container d-flex justify-content-center">
    <div class="card shadow-sm mt-4 p-4" style="max-width: 500px; width: 100%;">

        <div class="mb-3">
            <p><strong>Nombre de usuario:</strong> {{ user.username }}</p>
            <p><strong>Nombre:</strong> {{ user.first_name }}</p>
            <p><strong>Apellido:</strong> {{ user.last_name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
        </div>

        <div class="text-center">
            <a href="{% url 'blog:editar_perfil' %}"
               class="btn w-100"
               style="background-color:#c9e8d2; color:#254229; font-weight:500;">
                Editar perfil
            </a>
        </div>

    </div>
</div>

{% endblock content %}
